<div class="QuizNav">
<ul>
  <li><a class="active" href="#home"><img src="/images/home.svg"/></a></li>
  <div class="dropdown">
        <select  id="subject" class="dropbtn" onclick="fetchQuestions(this);"> 
          <option selected>Select Subject</option>
          <option value="JS">JS</option>
          <option value="Java">Java</option>
          <option value="PHP">PHP</option>
        </select>
      </div>
  <li><a href="#">Update</a></li>
  <li><a href="#">View Result</a></li>
  <li><a href="#about"><img src="/images/profile.svg"/></a></li>
</ul>
</div>
