<div class="QuizNav">
<ul>
  <li><a class="active" href="#home"><img src="/images/home.svg"/></a></li>
  <div class="dropdown">
        <button class="dropbtn">Give Quiz</button>
        <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
      </div>
  <li><a href="#">Update</a></li>
  <li><a href="#">View Result</a></li>
  <li><a href="#about"><img src="/images/profile.svg"/></a></li>
</ul>
</div>
