<html>

<head>
    <% include ./header_userhome%>
</head>

<body>
    <% include ./body_userhome %>
    <div class="imgcontainer" id="ImgBody">
        <img id="mainpic" src="/images/quiz-background.jpg">
    </div>
    <div id="quizBody">

    </div>
    <script src="/javascripts/Quiz.js">

    </script>
</body>

</html>