<html>
<head>
    <% include ./header_userhome%>
</head>
 <body>
<% include ./body_userhome %>
<div class="imgcontainer">
    <img id="mainpic" src="/images/quiz-background.jpg">
</div>
</body> 
</html>
